:root {
  /* --accent-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --other-color: #ffffff; */
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.container {
  outline: 1px solid tomato;
  width: 1280px;
  margin: 0 auto;
}
.header-section {
  position: absolute;
  width: 100%;
  padding-top: 40px;
}
.header-section .container {
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 387px;
  margin-right: 322px;
  margin-left: 51px;
}
.navigation-list-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms var(--time-func);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #ff6c00;
}

.number-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-link {
  display: flex;
  width: 160px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #303030;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: background-color 250ms var(--time-func);
}
.button-link.dark {
  color: #ffffff;
}
.button-link:hover,
.button-link:focus {
  color: #ffffff;
  background-color: #ff6c00;
}

.header-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%) rotate(-90deg);
  transform-origin: top right;
  outline: 1px solid tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  width: 600px;
}

.section-slogan {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.section-slogan.dark {
  color: rgba(157, 164, 189, 0.6);
}
.section-slogan::before {
  content: ' ';
  display: inline-block;
  vertical-align: super;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.section-slogan.dark::before {
  content: ' ';
  display: inline-block;
  vertical-align: super;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-section .container {
  min-height: 680px;
  padding-right: 40px;
  padding-top: 272px;
  background-image: url(../images/Slider@1x.jpg);
  background-repeat: no-repeat;
  background-size: 1085px 680px;
  background-position: 155px 0px;
}
.hero-wrapper {
  margin-left: 255px;
}
.hero-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.section-subscription {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  width: 480px;
}
.section-subscription.dark {
  color: #9da4bd;
}
.social-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links-list a {
  margin-right: 40px;
}
.social-links-list::before {
  content: ' ';
  /* display: inline-block; */
  /* vertical-align:super; */
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms var(--time-func);
}
.social-link:hover,
.social-link:focus {
  color: #ff6c00;
}
.section-title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: #303030;
}
/* .section-title.dark {
  color: #FFFFFF;
} */

.about-section,
.price-section,
.master-section,
.gallery-section,
.contacts-section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-section > .container {
  display: flex;
  padding-left: 55px;
  padding-right: 91px;
}

.about-section img:first-of-type {
  margin-right: 30px;
}
.about-wrapper {
  margin-left: 64px;
}
.about-text {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  /* width: 500px; */
  color: #555555;
}

.price-section {
  /* background-color: #f7f7f7; */
  background-image: url(../images/img3\(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price-section .container {
  padding-left: 55px;
  padding-right: 55px;
}
.price-section .section-title {
  margin-bottom: 44px;
}
.price-section-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.price-table {
  padding: 30px 40px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.price-table.first-column {
  width: 50%;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-table.second-column {
  width: 50%;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-table-item {
  display: flex;
  justify-content: space-between;
}

.service::after {
  content: ' ';
  display: inline-block;
  margin-left: 6px;
  height: 1px;
  width: 100px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-table-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-section .button-link {
  margin: 0 auto;
}

.achievements-section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.achievements-section .container {
  display: flex;
  justify-content: space-between;
  padding-left: 155px;
  padding-right: 125px;
}
.achievements-wrapper {
  margin-left: 130px;
}
.achievements-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.achievements-list-item:nth-child(2n + 1) {
  transform: translateY(-9px);
}
.achievements-list-item:nth-child(2n) {
  transform: translateY(26px);
}
.achievements-list-item {
  padding: 20px 24px;
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
}
.achievements-list-item:nth-child(2n + 1) {
  margin-right: 30px;
}
.achievements-list-item:nth-child(-n + 2) {
  margin-bottom: 30px;
}
.list-amount {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  margin-right: 2px;
  display: block;
}
.list-amount:after {
  content: '+';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  vertical-align: super;
  color: #ff6c00;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.master-section {
  background-color: #f7f7f7;
}
.master-section > .container {
  padding-left: 55px;
  padding-right: 55px;
}

.master-section .section-title {
  margin-bottom: 44px;
}
.master-list {
  display: flex;
}

.master-list-item:not(:last-child) {
  margin-right: 30px;
}
.master-social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 206px;
}
.master-social-list-item {
  width: 44px;
  height: 44px;
}
.master-social-list-item .master-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.social-icon {
  transition: fill 250ms var(--time-func);
}
.master-social-link:hover .social-icon,
.master-social-link:focus .social-icon {
  fill: #ff6c00;
}

.master-name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}
.master-specialization {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

.gallery-section > .container {
  padding-left: 55px;
  padding-right: 55px;
}
.gallery-section .section-slogan {
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
}
.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}
.contacts-section .container {
  display: flex;
  /* justify-content: space-between; */
}
.form-wrapper {
  width: 50%;
  padding-left: 56px;
  padding-right: 40px;
  background-color: black;
}
.button {
  width: 160px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.address-wrapper {
  padding-left: 100px;
  padding-right: 255px;
  background-image: url(../images/img11\(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.address {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.address > a {
  color: inherit;
}
/* .address:not(:last-child) {
  margin-bottom: 20px;
} */
.contacts-mail {
  text-decoration: underline;
}
.working-hours {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.working-hours::before {
  content: ' ';
  display: inline-block;
  vertical-align: super;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.working-hours-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.footer-section {
  padding: 56px 55px;
}
.footer-section .container {
  padding-right: 55px;
  padding-left: 55px;
  display: flex;
  justify-content: space-between;
}
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
