html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.container {
  outline: 1px solid tomato;
  width: 1280px;
}
.navigation-list-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #ff6c00;
}

.number-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  /* color: #FFFFFF; */
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.section-slogan {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
/* .section-slogan .dark {
  rgba(157, 164, 189, 0.6);
} */
.section-slogan::before {
  content: ' ';
  display: inline-block;
  vertical-align: super;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.hero-section {
  min-height: 680px;
}
.hero-section .container {
  background-color: black;
}
.hero-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;

  color: #ffffff;
}
.section-subscription {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.section-subscription.dark {
  color: #9da4bd;
}
.social-links-list {
  display: flex;
}
.social-links-list::before {
  content: ' ';
  display: inline-block;
  vertical-align: super;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}
.social-link:hover,
.social-link:focus {
  color: #ff6c00;
}
.section-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: #303030;
}
/* .section-title.dark {
  color: #FFFFFF;
} */

.about-section,
.price-section,
.master-section,
.gallery-section,
.contacts-section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-section > .container {
  display: flex;
  padding-left: 55px;
  padding-right: 91px;
}
.about-section img:first-of-type {
  margin-right: 30px;
}
.about-wrapper {
  margin-left: 64px;
}
.about-text {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: #555555;
}

.achievements-list {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.achievements-list span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.achievements-list sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #ff6c00;
}
.master-list {
  display: flex;
}
.master-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}
.master-specialization {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;
}
.gallery-list {
  display: flex;
}
.footer-section {
  padding: 56px 55px;
}
.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.address > a {
  color: inherit;
}
.contacts-mail {
  text-decoration: underline;
}
.working-hours {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.working-hours-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
