.about-section img {
  display: none;
}
.about-section .section-subscription {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
  width: 418px;
}
.about-section .section-title {
  font-size: 28px;
  width: 330px;
}
.about-text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  width: 418px;
}

@media screen and(min-width:768px) {
  .about-section .container {
    display: flex;
  }
  .about-section img {
    display: block;
  }

  .about-wrapper {
    margin-left: 30px;
  }
  .about-section .section-title {
    margin-bottom: 20px;
  }
  .about-section .section-subscription {
    width: 330px;
  }
  .about-text {
    width: 330px;
  }
}
@media screen and(min-width:768px) and(max-width:1279px) {
  .about-image-wrapper-item:first-child {
    margin-bottom: 30px;
  }
  // .about-section .section-title {
  //   margin-bottom: 0;
  // }
}

@media screen and(min-width:1280px) {
  .about-section .container {
    padding-left: 55px;
    padding-right: 91px;
  }
  .about-image-wrapper {
    display: flex;
  }
  .about-image-wrapper-item:first-child {
    margin-right: 30px;
  }

  .about-wrapper {
    margin-left: 64px;
  }
  .about-section .section-title {
    width: 500px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }
  .about-section .section-subscription {
    width: 500px;
    font-size: 18px;
    line-height: 1.67;
  }
  .about-text {
    margin-bottom: 44px;
    width: 500px;
  }
}
