.contacts-section {
  width: 50%;
  background-color: #111319;
  background-image: url(../images/contacts-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
  .container {
    padding-left: 100px;
    width: 625px;
    margin-left: 0;
  }
}

.contacts-section .section-title {
  margin-bottom: 54px;
}
.address {
  margin-bottom: 70px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.address > a {
  color: inherit;
}

.contacts-wrapper {
  display: flex;
  align-items: center;
  width: 260px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  a {
    color: #9da4bd;
  }
  svg {
    margin-right: 16px;
  }
  &:first-child svg {
    align-self: flex-start;
  }
}

.contacts-mail {
  text-decoration: underline;
}
.working-hours {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;

  &::before {
    content: ' ';
    display: inline-block;
    vertical-align: super;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
  }
}

.working-hours-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
