.contacts-section {
  background-color: #111319;
  background-image: url(/images/contacts/m-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: url(/images/contacts/m-contacts@2x.png);
  }
  .section-title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.address {
  margin-bottom: 44px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.address > a {
  color: inherit;
}
.contacts-wrapper {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  a {
    color: #9da4bd;
  }
  svg {
    margin-right: 16px;
  }
}
.contacts-mail {
  text-decoration: underline;
}
.working-hours {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;

  &::before {
    content: ' ';
    display: inline-block;
    vertical-align: super;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
  }
}

.working-hours-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and(min-width:768px) and(max-width:1279px) {
  .contacts-section {
    background-image: url(/images/contacts/t-contacts.png);
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url(/images/contacts/t-contacts@2x.png);
    }
  }
  .contacts-section .section-title {
    text-align: left;
  }
  .address-wrap {
    display: flex;
    // justify-content: space-between;
  }
  .address {
    margin-right: 90px;
    margin-bottom: 0;
  }
  .contacts-wrapper:first-child {
    width: 270px;
  }
}
@media screen and(min-width:1280px) {
  .contacts-section {
    width: 50%;
    padding-top: 130px;
    padding-bottom: 130px;
    .container {
      padding-left: 100px;
      width: 640px;
      margin-left: 0;
    }
    background-image: url(/images/contacts/d-contacts.png);
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url(/images/contacts/d-contacts@2x.png);
    }
  }

  .contacts-section .section-title {
    margin-bottom: 54px;
    text-align: left;
  }
  .address {
    margin-bottom: 70px;
  }

  .contacts-wrapper {
    width: 260px;
    &:first-child svg {
      align-self: flex-start;
    }
  }
}
