.header-section {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  .container {
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 387px;
  margin-right: 322px;
  margin-left: 51px;
}
.navigation-list-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms var(--time-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.number-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%) rotate(-90deg);
  transform-origin: top right;
  outline: 1px solid tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  width: 600px;
}
