.header-section {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  fill: #ffffff;
}
.navigation-list-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  color: #303030;
  transition: color 250ms var(--time-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.number-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;
  color: #303030;
  transition: color 250ms var(--time-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media screen and(max-width:768px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .navigation-list {
    margin-bottom: 64px;
  }
  .header-links-list {
    margin-bottom: 64px;
  }
  .header-section .button-link {
    width: 194px;
    color: #303030;
  }
  .number-link {
    display: block;
    margin-bottom: 24px;
  }
  .header-section .social-links-list {
    outline: 1px solid tomato;
    // margin-right: 105px;
    // display: block;
    display: flex;
    flex-wrap: wrap;
    // padding-left: 60px;
    width: 192px;
    height: 62px;
    // flex-direction: column;
  }
  .header-section .social-link {
    font-size: 14px;
    line-height: 1.36;
  }
  .header-section .social-list-item:first-child {
    margin-right: 40px;
  }
}
@media screen and(min-width:768px) {
  .header-section .container {
    position: relative;
    padding-right: 0;
  }

  .logo {
    fill: #303030;
  }
  .header-links-list {
    display: block;
    text-align: center;
  }

  .header-section .header-sidebar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%) rotate(-90deg);
    transform-origin: top right;
    outline: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 155px;
    width: 600px;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-list-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 250ms var(--time-func);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .number-link {
    font-size: 12px;
    line-height: 1.33;
    color: #ffffff;
  }
}

@media screen and(min-width:768px) and(max-width:1279px) {
  .header-section .navigation-list {
    display: flex;
    justify-content: space-between;
    width: 339px;
    margin-right: 47px;
    margin-left: 78px;
  }
  .number-link {
    display: block;
    margin-top: 20px;
  }
  .menu-container {
    display: flex;
    align-items: flex-start;
  }
  .header-links-list {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and(min-width:1280px) {
  .header-section {
    .container {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
  .header-section .navigation-list {
    display: flex;
    justify-content: space-between;
    width: 387px;
    margin-right: 322px;
    margin-left: 70px;
  }
  .header-links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .number-link {
    margin-right: 40px;
  }
}
