.hero-section {
  @media screen and(max-width:767px) {
    background-image: url(../images/hero/m-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      background-image: url(../images/hero/m-hero.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.hero-section .container {
  // position: relative;
  min-height: 580px;
  padding-right: 31px;
  padding-left: 31px;
  padding-top: 208px;
  padding-bottom: 40px;
  // background-size: 1085px 680px;
  // background-position: 155px 0px;
}

.hero-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.section-subscription {
  font-size: 16px;
  line-height: 1.62;
  width: 306px;
}
.hero-slider {
  display: none;
}
@media screen and(min-width:768px) {
  .hero-section .container {
    min-height: 680px;
    padding-left: 39px;
    padding-top: 272px;
  }
  .hero-wrapper {
    margin-left: 240px;
  }
}
@media screen and(min-width:768px) and(max-width:1279px) {
  .hero-section .container {
    background-image: url(../images/hero/t-hero.png);
    background-repeat: no-repeat;
    background-position: right;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url(../images/hero/t-hero@2x.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 609px 680px;
    }
  }
  // .ad {
  //   // position: relative;
  //   // width: 100%;
  //   // height: 100%;
  // }
  .hero-slider {
    position: absolute;
    bottom: 40px;
    right: 39px;
    display: flex;
  }
  .hero-slider-item {
    padding-bottom: 8px;

    border-bottom: 1px solid #ffffff;
  }
  .hero-slider-item:first-child {
    padding-right: 13px;
    margin-right: 26px;
  }
  .hero-slider-item:last-child {
    padding-left: 13px;
  }
  .hero-slider-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: right;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 250ms var(--time-func);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
@media screen and(min-width:1280px) {
  .hero-section .container {
    min-height: 680px;
    padding-right: 40px;
    padding-top: 272px;
    background-image: url(../images/hero/d-hero.png);
    background-repeat: no-repeat;
    background-size: 1085px 680px;
    background-position: 155px 0px;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url(../images/hero/d-hero@2x.png);
    }
  }

  .hero-wrapper {
    margin-left: 255px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}
