.button-menu-open {
  @media screen and(min-width:768px) {
    display: none;
  }
  background-color: transparent;
  border: transparent;
}

.button-menu-close {
  @media screen and(min-width:768px) {
    display: none;
  }
  position: absolute;
  top: 48px;
  right: 31px;
  background-color: transparent;
  border: transparent;
}
.icon-menu {
  fill: #fff;
}
.menu-container {
  @media screen and(max-width:768px) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
    height: 100vh;
    padding-left: 40px;
    padding-top: 118px;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 2;
    &.is-open {
      display: block;
    }
  }

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.backdrop {
  display: none;
  background-color: rgba(25, 28, 38, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  // transition: all 2500ms var(--time-func);
}
.backdrop.is-open {
  display: block;
}
