.button-up {
  position: fixed;
  bottom: 20px;
  right: 50px;
  display: block;
  @media screen and(max-width:768px) {
    display: none;
  }
}
.arrow-icon {
  fill: gray;
  opacity: 0.7;
  transition: fill 250ms var(--time-func);

  .button-up:hover &,
  .button-up:focus & {
    fill: var(--accent-color);
  }
}
