html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.about-section,
.price-section,
.master-section,
.achievements-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.section-slogan {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  &::before {
    content: ' ';
    display: inline-block;
    vertical-align: super;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}
.section-slogan.dark {
  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: ' ';
    display: inline-block;
    vertical-align: super;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.section-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: #303030;

  &.dark {
    color: #ffffff;
  }
}

.section-subscription {
  font-weight: 400;

  letter-spacing: 0.02em;
  color: #555555;

  &.dark {
    color: #9da4bd;
  }
}

@media screen and(min-width:768px) {
  .about-section,
  .price-section,
  .master-section,
  .achievements-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and(min-width:1280px) {
  .about-section,
  .price-section,
  .master-section,
  .achievements-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.17;
  }

  .section-subscription {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}
