.container {
  // outline: 1px solid tomato;
  margin: 0 auto;

  @media screen and(min-width:480px) {
    max-width: 480px;
    padding: 0px 31px;
  }
  @media screen and(min-width:768px) {
    max-width: 768px;
    padding: 0px 39px;
  }
  @media screen and(min-width:1280px) {
    max-width: 1280px;
  }
}
